.content__right {
  @media screen and (max-width: 1200px) {
    order: 3;
    align-items: flex-start;
  }
  @media screen and (max-width: 600px) {
    align-items: center;
  }
}

.right-decor__triangle {
  max-width: 105px;
  width: 100%;
  margin: 8px 0px 0 114px;
}

.right__info {
  min-height: 193px;
  @media screen and (max-width: 1200px) {
    min-height: 0;
    align-items: center;
  }
  @media screen and (max-width: 803px) {
    min-height: max(190px, 10vw);
  }
  @media screen and (max-width: 600px) {
    min-height: 0;
  }
}

.title__right {
  text-align: right;
  padding: 9px 0px 12px 15px;
  max-width: 265px;
  margin: 0;
  @media screen and (max-width: 1200px) {
    max-width: none;
    padding: 5px;
    text-align: center;
  }
}

.text__right {
  padding: 5px 0 10px 67px;
  text-align: right;
  @media screen and (max-width: 1200px) {
    // max-width: none;
    padding: 5px;
    text-align: center;
  }
}

.btn-wrap__right {
  width: 100%;
}

.btn-main__right {
  margin: 0 0 69px 100px;
  @media screen and (max-width: 1200px) {
    margin: 10px 0;
  }
}
